# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=remotedb
DATABASE_URL=postgresql://postgres:macmons450@localhost:5432/remotedb?schema=public

# Backend
PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000/api
